@import url("https://fonts.cdnfonts.com/css/barlow");

body {
  background-color: #f7f7f7;
  font-family: "Barlow", sans-serif;
  max-width: 600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gsc-resultsbox-visible {
  margin-top: 16px;
}
#video-container {
  max-width: 600px;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  border: none !important;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}
.gsc-tabsArea {
  display: none !important;
}

.logo-title {
  background-color: #f7f7f7;
  align-items: center;
  font-weight: bold;
  padding-left: 2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 12px;
  font-size: 24px;
}
.thumbnail-image {
  border-radius: 10px;
  cursor: pointer;
  max-width: 250px !important;
  min-width: 250px !important;
  max-height: 250px;
  height: auto;
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  border: none !important;
}

.title-container {
  font-size: 18px;
  font-weight: bold;
  min-width: 100%;
  /* flex: 1; */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 30vh;
  margin-bottom: 2vh;
}

.button-container button {
  background-color: #2a8cff;
  color: white;
  font-weight: 100;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 18px;
  border: none !important;
  cursor: pointer;
}

.close-button {
  background-color: gray !important;
}

.person-container {
  color: gray;
}
.result-container {
  gap: 24px;
  display: flex;
  padding: 0.5rem;
  border: 3px solid white !important;
  /* align-items: center; */
  margin-left: 0px;
  margin-right: auto;
  position: relative;
  margin-bottom: 12px;
}

.gsc-wrapper {
  background-color: white;
}

.table-container {
  display: flex;
  flex-direction: row;
}

.result-container:hover {
  border: 3px solid darkcyan !important;
}

.gsc-control-cse {
  background-color: #f7f7f7 !important;
  border: none !important;
}
.gsc-cursor-box {
  background-color: white;
}

.gsc-cursor {
  padding: 12px 4px;
}

.count-container {
  color: black;
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 45px;
  margin-bottom: auto;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  gap: 5rem;
}

.info-container {
  display: inline-block;
  width: 100%;
}
input.gsc-input {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.gsc-search-box {
  margin-bottom: 24px;
}

.gcsc-more-maybe-branding-box {
  font-weight: bold !important;
}

.table-footer {
  display: inline-block;
  flex: none;
}

.gsc-cursor-container-previous {
  display: flex;
  justify-content: center;
}

.gsc-cursor-container-next {
  display: flex;
  justify-content: center;
}