@import url("https://fonts.cdnfonts.com/css/barlow");

body {
  background-color: #f7f7f7;
  font-family: "Barlow", sans-serif;
  max-width: 600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gsc-resultsbox-visible {
  margin-top: 16px;
}

.gsc-webResult.gsc-result {
  padding: 0 !important;
}
#video-container {
  max-width: 600px;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  border: none !important;
  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.videoFrame {
  margin-top: 45%;
  /* margin-bottom: auto; */
}
.gsc-tabsArea {
  display: none !important;
}

.video-info {
  color: white;
  margin-top: 18px;
  justify-content: left;
  /* display:inline-flex; */
  margin-left: 48px;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
}

.logo-title {
  background-color: #f7f7f7;
  align-items: center;
  font-weight: bold;
  padding-left: 2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 12px;
  font-size: 24px;
}
.thumbnail-image {
  border-radius: 10px;
  cursor: pointer;
  max-width: 250px !important;
  min-width: 250px !important;
  max-height: 250px;
  height: auto;
  display: block;
  border: none !important;
}

.title-container {
  font-size: 18px;
  font-weight: bold;
  min-width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: auto;
  margin-bottom: 2vh;
}

.button-container button {
  background-color: #2a8cff;
  color: white;
  font-weight: 100;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 18px;
  border: none !important;
  cursor: pointer;
}

.close-button {
  background-color: gray !important;
}

.person-container {
  margin-top: 18px;
  color: gray;
}
.result-container {
  gap: 24px;
  display: flex;
  /* width: 100%; */
  padding: 0.5rem;
  border: 3px solid white !important;
  margin-left: 0px;
  margin-right: auto;
  position: relative;
  margin-bottom: 12px;
}

.gsc-wrapper {
  background-color: white;
}

.table-container {
  display: flex;
  flex-direction: row;
}

.result-container:hover {
  border: 3px solid darkcyan !important;
}

.gsc-control-cse {
  background-color: #f7f7f7 !important;
  border: none !important;
}
.gsc-cursor-box {
  background-color: white;
}

.gsc-cursor {
  padding: 12px 2px;
  /* background-color: red; */
}


.count-container-video {
  color: #9499A6;
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 8px;
  justify-content: left;
  /* display:inline-flex; */
  margin-left: 48px;
  margin-right: auto;
  gap: 2rem;
  font-size: 18px;
  /* visibility: visible !important; */
}


.count-container {
  color: black;
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 45px;
  margin-bottom: auto;
  /* font-weight: bold; */
  position: absolute;
  bottom: 4px;
  gap: 5rem;
  visibility: visible !important;
}

.info-container {
  display: inline-block;
  width: 100%;
}
input.gsc-input {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  
  
}

.gsc-search-box {
  margin-bottom: 24px;
  border: none !important;
  border-radius: 0px !important;
  padding: 12px 0px;
  background-color: white;
  
}

.gsc-wrapper {
  margin-top: 24px;
}

.gsc-search-button {
  border-radius: 0;
}
.gcsc-more-maybe-branding-box {
  font-weight: bold !important;
}

.table-footer {
  display: inline-block;
  flex: none;
}

.gsc-cursor-container-previous {
  display: flex;
  justify-content: center;
}

.gsc-cursor-container-next {
  display: flex;
  justify-content: center;
}

.gsc-cursor-container-previous::after {
  content: "Prev";
  margin-left: 5px;
}

.gsc-cursor-container-next::before {
  content: "Next";
  margin-right: 5px;
}

/* .gsc-cursor-numbered-page::before {
  content: "" !important;
}

.gsc-cursor-numbered-page::after {
  content: "e" !important;
} */