/* Custom CSS for search results */
@import url("https://fonts.cdnfonts.com/css/barlow");

body {
  background-color: #f7f7f7;
  font-family: "Barlow", sans-serif;
  max-width: 600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#video-container {
  max-width: 600px;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  border: none !important;
  margin: 0px;

  display: flex; /* Add this line to make the container flex */
  flex-direction: column; /* Display its children vertically */
  justify-content: center; /* Align items vertically in the center */
  /* 
  
  width: 100%;
  height: 100%;
  
  
  justify-content: center;
   */
  z-index: 9999;
}
.gsc-tabsArea {
  display: none !important;
}

.logo-title {
  background-color: #f7f7f7;
  align-items: center;
  font-weight: bold;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 12px;
  font-size: 24px;
}

.thumbnail-image {
  border-radius: 10px;
  /* margin-right: 0.5rem; */
  cursor: pointer;
  max-width: 250px;
  height: auto;
  /* margin-top: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-container {
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}

.button-container {
  display: flex; /* Display buttons horizontally */
  justify-content: space-between; /* Center align buttons horizontally */ /* Add some spacing between buttons */
  width: 90%;
  margin-top: 30vh;
  margin-bottom: 2vh;
}

.button-container button {
  background-color: #2A8CFF;
  color: white;
  font-weight: 100;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 18px;
  border: none !important;
  cursor: pointer;
}

.close-button {
  background-color: gray !important;
}
.result-container {
  gap: 24px;
  display: flex;
  padding: 0.5rem;
  border: 3px solid white !important;
}

.table-container {
  display: flex;
  flex-direction: row;
}

.result-container:hover {
  border: 3px solid darkcyan !important;

}

.count-container {
  color: black;
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 45px;
  margin-bottom: 0px;
}

.info-container {
  display: inline-block;
}
input.gsc-input {
  font-size: 18px;
  font-weight: bold;
}

.table-footer {
  display: inline-block;
  flex: none;
}

.gsc-webResult .gsc-result:hover {
  border: 1px solid white !important;
}


